# .env.example
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=transactions

AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=us-east-1
S3_BUCKET=fraud-detection-lake

HF_TOKEN=your_huggingface_token
HF_MODEL_ID=mistralai/Mistral-7B-Instruct-v0.2
ENVIRONMENT=development